table{
    font-size: medium;
    margin: auto;
}

table, td, th{
    border: 1px solid white;
}

input, label{
    width: max-content;
    font-size: medium;
}
button{
    width: max-content;
}
