<!--A navigating page between the different manager pages-->
<br><br>
<button>
    <a routerLink="../MangerUserPage" routerLinkActive="active-link">Manage Users</a>
</button>
<br>
<button>
    <a routerLink="../ManageCars" routerLinkActive="active-link">Car invantory</a>
</button>
<br>
<button>
    <a routerLink="../CarModels" routerLinkActive="active-link"> Car Models </a>
</button>
<br>
<button>
    <a routerLink="../ManagerRentals" routerLinkActive="active-link">Manage Rentals</a>
</button>

