table{
    font-size: large;
    text-align: center;
    
}
.carTable{
    text-align: center;
    padding-left: 20%;
}

div{
    font-size: x-large;
}

button{
    font-size: large;
}