<br><br><div>LET US DRIVE YOU!</div>

<img src="..\assets\Images\homecar.png" alt="Girl in a jacket">

<div>
    <p>
        &#10004; Cheapest rates
    </p>
    
    <p>
        &#10004; Quality service
    </p>
    <p>
        &#10004; Free cancellation
    </p>
</div>
<button [hidden]="signUpDisplay">
    <a routerLink="../SignUpUser" routerLinkActive="active-link">Sign Up</a>
</button>

<button [hidden]="signUpDisplay">
    <a routerLink="../Login" routerLinkActive="active-link">Log In</a>
</button>
